.h1-offset {
  margin-left: 4vw;
}

/* Para pantallas a partir de 1024px de ancho (tablets, laptops, desktops) */
@media (min-width: 1024px) {
  .h1-offset {
    margin-left: 15vw;
  }
}

@media (min-width: 1920px) {
  .h1-offset {
    margin-left: 4vw;
  }
}
